* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 10vh;
}

.header-title {
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: 4%;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.input-form {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: 4%;
  gap: 7.6%;
  justify-content: center;
  gap: 20px;
}

.form-label {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.form-label input,
.form-label-edit input {
  height: 2vh;
  width: 14vw;
  padding-left: 10px;
}

.form-label-edit input {
  width: 90%;
}

.submit-button {
  text-transform: capitalize;
  padding: 3px 15px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 17px;
  height: 2.4vh;
}

.submit-button:hover {
  background-color: #fff;
  color: #333;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: repeat(auto-fit, 500px);
  row-gap: 3.2%;
  column-gap: 5%;
  margin-left: 4%;
  margin-top: 5%;
}

.card {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 300px;
  border: 1px black solid;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-author,
.card-pages,
.card-read-status {
  font-size: 18px;
  color: #333;
}

.card-left {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-right {
  display: flex;
  align-items: flex-start;
}

.delete-button,
.edit-button,
.save-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.delete-icon,
.edit-icon,
.save-icon {
  width: 24px;
  height: 24px;
}

.form-label-edit {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
